Library/
ProjectSettings/
Old/
*.userprefs
*.pidb
*.sln
*.apk
*.csproj
README
*.asset
*.FBX
Assets/Materials
Assets/Models
Assets/Prefabs
Temp/
Assets/Textures
Assets/Editor
Assets/PhysicMaterials
Assets/Plugins
*.unity
*.unitypackage
.DS_Store
Assets/AK
Assets/StreamingAssets
Assets/Scripts/Sound
PostprocessBuildPlayer_Unsupported build target!.log
PostprocessBuildPlayer_standaloneOSXIntel.log
