Library/
ProjectSettings/
Old/
*.userprefs
*.pidb
*.sln
*.apk
*.csproj
README
*.asset
*.FBX
Assets/Materials
Assets/Models
Assets/Prefabs
Assets/Shaders
Assets/Textures
Assets/Editor
Assets/PhysicMaterials
Assets/Plugins
*.unity